svg.progress_bar {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.progress_bar circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 10;
}

svg.progress_bar circle.incomplete { opacity: 0.25; }

svg.progress_bar circle.complete { stroke-dasharray: 219.91148575129; }

svg.progress_bar text {
  fill: #fff;
  text-anchor: middle;
}